*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{background: rgb(242, 242, 242);}
/*
////////////////////////////////////////////////
TOP ////////////////////////////////////////////
////////////////////////////////////////////////
 */
nav{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.top-nav{
    padding: 0px 50px;
    height: 30px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(228, 228, 228);
}
.top-nav p{color: rgb(185, 185, 185);}
.info-top{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.info-top a{color: rgb(185, 185, 185);}
a{text-decoration: none;}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.lang1{
    height: 100%;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle-nav{
    height: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    cursor: pointer;
}
.logo-img{border-radius: 10px;}
h1{
    display: flex;
    align-items: center;
    font-size: 28px;
    letter-spacing: 2px;
    margin-left: 5px;
    color: rgb(55, 55, 55);
}
.nav-input{
    background-color: white;
    height: 50px;
    border-radius: 25px;
    display: flex;
    padding: 10px 0 10px 20px;
    align-items: center;
    box-shadow: 0 10px 20px rgb(230, 230, 230);
}
.nav-input p{
    color: dimgray;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: sans-serif;
    border-right: 2px solid rgb(200, 200, 200);
    height: 100%;
    padding-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-input input{
    border: none;
    outline: none;
    margin-left: 10px;
    height: 100%;
    width: 300px;
    font-size: 12px;
    word-spacing: 1px;
}
.search-btn{
    border-radius: 20px;
    position: relative;
    left: 25px;
    box-shadow: 0px 5px 10px rgb(255, 185, 55);
    cursor: pointer;
}
.basket{width: 160px;}
.basket p{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basket p span{color: rgb(150, 150, 150);}
.basket p img{cursor: pointer;}
.bottom-nav{
    height: 30px;
    margin: 0 auto 10px auto;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.category{
    display: flex;
    align-items: center;
}
.category span{
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 2px;
    margin-right: 5px;
}
.category p{
    font-weight: bold;
    color: rgb(90, 90, 90);
}
.popular{
    color: rgb(90, 90, 90);
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 200px;
    font-weight: 700;
}
.nav-tools{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.nav-tools a{
    color: rgb(90, 90, 90);
    font-weight: bold;
}

/* 
/////////////////////////////////////////////////
Big image ///////////////////////////////////////
/////////////////////////////////////////////////
*/
.img-container{width: 100%;}
.img-container img{width: 100%;}
h2{
    display: none;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 5px;
    color: maroon;
    font-family: sans-serif;
}
.popularity{
    background-color: white;
    height: 60px;
    width: 60%;
    margin: 0 28%;
    padding: 10px 30px;
    border-radius: 40px;
    box-shadow: 0 5px 20px rgb(215, 215, 215);
    position: relative;
    bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popularity p{
    font-size: 16px;
    font-weight: bold;
    color: rgb(150, 150, 150);
}
.filterBtn{
    display: none;
    border: none;
    outline: none;
}
/* 
/////////////////////////////////////////////
Main Content ////////////////////////////////
/////////////////////////////////////////////
*/
.container{
    display: flex;
    justify-content: center;
    gap: 40px;
}
main{
    flex-basis: 62%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 7fr 3fr 7fr 2fr;
    gap: 35px 15px;
}
.item{
    background: white;
    border-radius: 5px;
    border: 2px solid rgb(230, 230, 230);
    padding: 25px 35px 20px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 200ms;
}
.item:hover{
    border: 2px solid red;
    .buy-now{visibility: visible;}
}
.item img{margin: 0 100% 10px 100%;}
.item-name{
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}
.item-info{
    width: 100%;
    text-align: center;
    color: rgb(150, 150, 150);
    margin-bottom: 10px;
}
.item-price{
    width: 100%;
    text-align: center;
    color: rgb(60, 60, 60);
    margin-bottom: 10px;
}
.buy-now{
    visibility: hidden;
    border: none;
    outline: none;
    background: rgb(234, 0, 0);
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 10px 28px 10px 28px; 
    border-radius: 26px;
    position: relative;
    top: 42px;
    cursor: pointer;
}
.ad-1{
    background-color: black;
    grid-column-start: 0;
    grid-column-end: span 4;
    border-radius: 5px;
}
aside{
    height: 980px;
    flex-basis: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.filter{
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.filterPrice, .filterBrands1, .filterBrands2, .collection, .rating, .special{
    background: white;
    padding: 21px 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filterPrice{
    justify-content: space-between;
    transition: 200ms;
}
.filterPrice div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 100ms;
} 
.filterPrice div input{  
    margin: 20px 0 5px 0;
    flex-basis: 200px;
}
.filterBrands1 p{flex-basis: 50%;}
.endText{text-align: end;}
.ad-2{border-radius: 5px;}
.pages{
    background: white;
    border: 2px solid white;
    height: 60px;
    border-radius: 50px;
    grid-column-start: 0;
    grid-column-end: span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    transition: 200ms;
}
.pages:hover{
    border: 2px solid rgb(234, 0, 0);
}
.pages-nums{
    color: rgb(150, 150, 150);
    width: 50%;
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pages-nums div{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 50ms;
}
.pages-nums div:hover{
    background: rgb(234, 0, 0);
    color: white;
    font-size: 20px;
}
.prev ,.next{
    color: rgb(150, 150, 150);
    width: 70px;
    word-spacing: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 50ms;
}
.next{text-align: end;}
.prev:hover ,.next:hover{
    color: rgb(234, 0, 0);
    font-size: large;
}
/* 
///////////////////////////////////
Footer/////////////////////////////
///////////////////////////////////
*/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-footer{
    background: white;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    padding: 0 35px;
}
.bottom-footer{
    background: white;
    color: rgb(185, 185, 185);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}
.info-bottom{
    width: 40%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.lang2{
    height: 100%;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
/* 
///////////////////////////////////////
Media Queries/////////////////////////
///////////////////////////////////////
*/
@media screen and (max-width: 1300px) {
    .bottom-nav{
        width: 100%;
        justify-content: space-around;
    }
    .middle-nav{
        width: 100%;
        justify-content: space-around;
    }
    .nav-input input{width: 150px;}
    .nav-input p{letter-spacing: 0;}
    .popular{padding: 0;}
    .pages, .pages-nums{
        font-size: 15px;
        word-spacing: 3px;
    }
    .prev, .next{ width: 85px;}
    .prev:hover ,.next:hover{font-size: unset;}
}
@media screen and (max-width: 860px){
    *{max-width: 100%;}
    .top-nav{display: none;}
    .logo{display: none;}
    .nav-input{height: 35px;}
    .search-btn{height: 35px;}
    .nav-input p{display: none;}
    .basket p{justify-content: space-around;}
    .bottom-nav{width: 95%;}
    .category{margin: 0;}
    .popular{display: none;}
    .img-container img{display: none;}
    h2{
        display: block;
        letter-spacing: 0;
        margin: 40px 0;
        text-shadow: 0 0 3px red;
    }
    .img-container div{
        display: flex;
        justify-content: space-around;
    }
    .popularity{
        position: static;
        margin: 0;
        height: 50px;
        width: 55%;
        order: 1;
    }
    .popularity p{font-size: larger;}
    .ex{display: none;}
    .filterBtn{
        display: block;
        background-color: rgb(129, 211, 255);
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 2px;
        color: rgb(0, 81, 255);
        width: 30%;
        border-radius: 25px;
    }
    main{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        flex-basis: unset;
    }
    .item{
        width: 99%;
        margin: 0 auto;
    }
    .buy-now{
        visibility: visible;
        position: static;
    }
    .pages{
        margin: 0 auto 50px auto;
        width: 99%;
    }
    footer{display: none;}
    aside{display: none;}
    .ad-1{display: none;}
}